@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wsijf0');
  src:  url('../fonts/icomoon.eot?wsijf0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wsijf0') format('truetype'),
    url('../fonts/icomoon.woff?wsijf0') format('woff'),
    url('../fonts/icomoon.svg?wsijf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Extra-Icons:before {
  content: "\e900";
  color: #a2a3a4;
}
.icon-Group:before {
  content: "\e901";
  color: #fff;
}
.icon-healthicons_ui-user-profile-outline:before {
  content: "\e902";
}
.icon-Icons-3:before {
  content: "\e903";
  color: #959799;
}
.icon-Icons:before {
  content: "\e904";
  color: #fff;
}
.icon-Icons-2:before {
  content: "\e905";
  color: #b3b3b3;
}
